    <div class="wrapper">
      <header>
        <h1>Grace Smith Vidaurre</h1>
        <p>
        Hailing from Rhode Island and Nicaragua; studied Biology and Spanish outside Philadelphia; currently working on PhD research of invasive parakeet populations in New Mexico
        </p>

        <img src="{{ site.url }}/images/GSV.jpg" style="border:5px solid black">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/gsmithvi">
				<i class="fa fa-github"></i>
				
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:gsmithvi@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
